*,
*:before,
*:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: Montserrat, Verdana, sans-serif;
  font-size: 0.8rem;
  color: #0b3f4d;
}
.site-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1fa9cc;
  color: #0b3f4d;
  font-size: 0.8rem;
}
h1,
h2 {
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
  margin: 10px 0;
}
.site-header a{
  max-width: 200px;
}
.site-logo{
  margin: 25px 0 40px 30px;
  max-width: 200px;
  margin-bottom: 0;
}

.header-content {
  margin: 15px 0 0 0;
}
.header-aside {
  margin: 15px 0 15px 0;
  margin-left: auto;
}
.site-branding {
  margin: 30px 0 5px 25px;
  font-style: italic;
  font-size: 0.7rem;
}
.arrow-up-login {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #fff;
  right: 120px;
  top: 245px;
}
.arrow-up-register {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #fff;
  right: 70px;
  top: 245px;
}
.arrow-up-cart {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #fff;
  right: 24px;
  top: 245px;
}
label:hover{
  cursor: pointer;
}
.login-form {
  display: none;
}
#login-btn{
  display: none;
}
#login-btn:checked ~ div{
  display: block;
}
.login-form {
  padding: 10px;
  position: absolute;
  width: 220px;
  height: auto;
  background-color: #fffefe;
  right: 40px;
  top: 85px;
  border-radius: 5px;
  font-size: 1rem;
}
.login-form a {
  color: #0b3f4d;
  font-size: 0.9rem;
  text-decoration: none;
}
.login-form a:hover {
  text-decoration: underline;
}
#register-btn{
  display: none;
}
#register-btn:checked ~ div{
  display: block;
}
.register-form {
  display: none;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: auto;
  background-color: #fffefe;
  right: 30px;
  top: 67px;
  border-radius: 5px;
  font-size: 1rem;
}
.cart-form {
  display: none;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: auto;
  background-color: #fffefe;
  right: 22px;
  top: 105px;
  border-radius: 5px;
  font-size: 1rem;
}
.cart-form p {
  margin: 10px 0;
}
#cart-label{
  color: #0b3f4d;
}
#cart-btn{
  display: none;
}
#cart-btn:checked ~ div{
  display: block;
}
input[type="text"],
input[type="password"] {
  margin: 4px 0 7px 0;
  height: 25px;
  border: 0;
  outline: none;
  box-shadow: inset 0 0 10px #eee;
  border-radius: 5px;
  font-style: oblique;
  opacity: 0.7;
}
input[type="submit"] {
  width: 75px;
  height: 25px;
  color: #401021;
  margin: 10px 0 15px 0;
  border-radius: 5px;
  background-color: #c8bb21;
}
input[type="submit"]:hover {
  background-color: #401021;
  color: #efefef;
}

.checkout-list {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

input#city {
  width: 95px;
  margin-right: 5px;
}
input#zip {
  width: 50px;
}
select#country {
  font-size: 1rem;
  border: 0;
  margin-top: 5px;
  width: 150px;
}
.zip {
  margin-left: 75px;
}
.expiration input {
  width: 40px;
  border: none;
}
.menu-wrap {
  height: 70px;
  background-color: #15748c;
  color: #fffefe;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1/4;
}
.menu-wrap a:hover {
  text-decoration: underline;
}
.menu-wrap a.active {
  background-color: #fffefe;
  color: #0b3f4d;
}
.menu-icon {
  font-size: 2.1em;
  color: #ffffff;
  line-height: 50px;
  margin: 0 10px;
}
nav {
  position: absolute;
  background-color: #15748c;
  top: 330px;
  left: 0;
  width: 100%;
  z-index: 100;
}
nav ul {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  transition: ease-in-out;
}
nav ul li {
  padding: 0 15px;
}
nav ul li a {
  display: inline-block;
  padding: 12px;
  /* Add your custom styles below to change appearance of links */
  color: #fffefe;
  text-decoration: none;
  letter-spacing: 0.05em;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #401021;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #401021;
}
#checkbox {
  display: none;
}
#checkbox:checked ~ nav ul {
  max-height: 250px;
  padding: 15px 0;
  transition: all 0.5s;
}
i {
  margin-right: 7px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #0b3f4d;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #0b3f4d;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #0b3f4d;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #0b3f4d;
}
input:focus::-webkit-input-placeholder {
  color: transparent !important;
}
input:focus::-moz-placeholder {
  color: transparent !important;
}
input:focus:-moz-placeholder {
  color: transparent !important;
}
.search {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
}
.search ul {
  list-style-type: none;
  display: inline-flex;
  margin-top: 10px;
}
.search-field {
  padding: 2px;
  max-width: 90px;
  font-size: 0.7rem;
}
.search-btn {
  background-color: #0b3f4d;
  padding: 2px;
  border: 0;
}
.search-btn:hover {
  background-color: #1fa9cc;
}
.fa-search {
  color: #fffefe;
  margin-left: 10px;
  padding: 2px;
}
.secondary-nav {
  margin-right: 10px;
}
.secondary-nav label{
  color: #fffefe;
}
.secondary-nav ul {
  list-style-type: none;
}
.secondary-nav ul li {
  display: inline-flex;
}
.secondary-nav ul li a {
  margin-right: 5px;
  text-decoration: none;
}
.secondary-nav ul li a:hover {
  text-decoration: underline;
  color: #0b3f4d;
}
.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 15px 25px;
}
.main-content .hero img {
  margin: 25px 0;
  max-width: 300px;
}
.product-list-item img {
  max-width: 150px;
}
.product-detail {
  padding: 20px;
}
.product-detail-item img {
  max-width: 250px;
  margin: 10px 0;
}
.icons-aside img {
  margin: 10px 5px 5px 0;
}
.btn-viewcoat {
  margin: 10px 0;
  padding: 5px 10px;
  font-weight: 600;
  color: #401021;
  background-color: #c8bb21;
  border-radius: 5px;
  border: none;
}
.btn-viewcoat:hover {
  background-color: #401021;
  color: #c8bb21;
}
.addcart {
  margin: 20px;
  padding: 16px 20px;
}
.detail-counter-aside {
  display: inline-flex;
}

.counter-minus-btn,
.counter-plus-btn {
  background-color: #0b3f4d;
  color: #fffefe;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  margin: 20px 0;
}
.counter {
  margin: 20px;
  padding-top: 10px;
}
.cancel {
  background-color: #15748c;
  color: #fffefe;
  margin: 20px 0;
}
.checkout-list {
  display: inline-flex;
}
.checkout-list-item {
  margin: 10px 0;
  margin-right: 30px;
}
.checkout-list-item h2 {
  margin-bottom: 10px;
}
.billing-form div {
  padding: 3px 0 5px 0;
}
.credit-card-form div {
  padding: 3px 0 5px 0;
}
.checkout {
  margin-top: 10px;
}
.about-list {
  margin: 40px 0 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-item {
  margin: 10px 0;
  max-width: 250px;
}
.about-social {
  margin: 20px 0;
}
.about-social ul {
  display: inline-flex;
}
.about-social li {
  list-style-type: none;
  padding: 0 10px 0 0;
}
.contact-details p {
  font-weight: 600;
  padding: 5px 0;
}
hr {
  border: 1px solid #0b3f4d;
  margin: 10px 0;
}
.contact-location {
  margin: 20px 0;
}
.confirm-order button {
  margin-right: 10px;
}
.footer {
  background-color: #0b3f4d;
}
.footer p {
  margin: 5px 0;
}
.footer ul {
  margin: 0;
}
.footer-content {
  margin: 25px 25px 0 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #fff;
}
.footer-category {
  margin: 20px 0 7px 0;
}
.footer-nav {
  margin: 20px 0;
}
.footer-nav ul {
  list-style-type: none;
}
.footer-nav ul li {
  display: inline-flex;
}
.footer-nav ul li a {
  color: #fff;
  margin-right: 5px;
  margin-left: auto;
  text-decoration: none;
}
.footer-nav ul li a:hover {
  text-decoration: underline;
  color: #c8bb21;
}
.footer a{
  color: #fffefe;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}
@media screen and (min-width: 400px) and (max-width: 599px) {
  .site-logo {
    max-width: 250px;
    margin-bottom: 0;
  }
  .arrow-up-login {
    right: 120px;
    top: 245px;
  }
  .arrow-up-register {
    right: 70px;
    top: 245px;
  }
  .arrow-up-cart {
    right: 24px;
    top: 245px;
  }
  .login-form {
    right: 40px;
    top: 85px;
    border-radius: 5px;
    font-size: 1rem;
  }
  .register-form {
    right: 30px;
    top: 68px;
    border-radius: 5px;
    font-size: 1rem;
  }
  .cart-form {
    right: 22px;
    top: 105px;
    border-radius: 5px;
    font-size: 1rem;
  }
  nav {
    top: 360px;
  }
  .main-content .hero img {
    max-width: 350px;
    margin: 25px 0 25px;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 0.8rem;
  }
  .product-list-item img {
    max-width: 150px;
  }
  .product-detail {
    padding: 20px;
  }
  .product-detail-item img {
    max-width: 300px;
    margin: 15px 0 20px 0;
  }
  .icons-aside img {
    width: 26px;
    margin: 10px 7px 10px 0;
  }
  .footer-content {
    flex-direction: column;
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  body {
    font-size: 0.9rem;
  }
  .site-logo {
    max-width: 300px;
  }
  .site-branding {
    margin: 10px 0 0 25px;
  }
  nav {
    top: 360px;
  }
  .arrow-up-login {
    right: 120px;
    top: 250px;
  }
  .arrow-up-register {
    right: 70px;
    top: 250px;
  }
  .arrow-up-cart {
    right: 24px;
    top: 250px;
  }
  .login-form {
    right: 40px;
    top: 90px;
    border-radius: 5px;
    font-size: 1rem;
  }
  .register-form {
    right: 30px;
    top: 72px;
    border-radius: 5px;
    font-size: 1rem;
  }
  .cart-form {
    right: 22px;
    top: 110px;
    border-radius: 5px;
    font-size: 1rem;
  }
  input#city {
    width: 95px;
    margin-right: 5px;
  }
  input#zip {
    width: 50px;
  }
  .zip {
    margin-left: 70px;
  }
  .login-form a {
    color: #401021;
    font-size: 0.9rem;
    text-decoration: none;
  }
  .login-form a:hover {
    text-decoration: underline;
  }
  .search-field {
    padding: 2px;
    max-width: 90px;
    font-size: 0.8rem;
  }
  .search-btn {
    padding: 3px;
  }
  .main-content {
    font-size: 0.9rem;
  }
  .main-content .hero img {
    margin: 25px 0;
    max-width: 400px;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 0.8rem;
  }
  .product-list-item img {
    max-width: 200px;
  }
  .product-detail {
    padding: 20px;
  }
  .product-detail-item img {
    max-width: 350px;
    margin: 15px 0 20px 0;
  }
  .icons-aside img {
    width: 28px;
    margin: 10px 7px 10px 0;
  }
  .checkout-list {
    display: flex;
    flex-direction: row;
  }
  #embedmap {
    width: 350px !important;
    height: 350px !important;
  }
  .confirm-order button {
    padding: 7px 12px;
    margin-right: 13px;
  }
}
@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
  .site-logo {
    max-width: 400px;
    margin-bottom: 25px;
  }
  .site-header {
    display: grid;
    grid-template-columns: 450px repeat(2, 1fr);
    justify-content: space-around;
    background-color: #1fa9cc;
    color: #0b3f4d;
  }
  .arrow-up-login {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #fff;
    border-top: none;
    right: 130px;
    top: 35px;
  }
  .arrow-up-register {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #fff;
    border-top: none;
    right: 80px;
    top: 35px;
  }
  .arrow-up-cart {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #fff;
    border-top: none;
    right: 35px;
    top: 35px;
  }
  .login-form {
    right: 40px;
    top: 49px;
    border-radius: 5px;
    border-bottom: 2px solid #0b3f4d;
    font-size: 1rem;
  }
  .register-form {
    right: 30px;
    top: 49px;
    border-radius: 5px;
    border-bottom: 2px solid #0b3f4d;
    font-size: 1rem;
  }
  .cart-form {
    right: 35px;
    top: 49px;
    border-radius: 5px;
    border-bottom: 2px solid #0b3f4d;
  }
  .cart-form p {
    margin: 10px 0;
  }
  .secondary-nav {
    margin-right: 20px;
  }
  .menu-icon {
    display: none;
  }
  .menu.wrap {
    display: flex;
    grid-template-columns: 450px repeat(2, 1fr);
  }
  nav {
    position: relative;
    top: -5px;
    background-color: transparent;
  }
  nav ul {
    max-height: 80px;
    padding: 15px 0;
    text-align: center;
  }
  nav ul li {
    display: inline-flex;
    padding-left: 10px;
  }
  .search {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 8px;
  }
  .search-field {
    max-width: 120px;
    font-size: 0.9rem;
  }
  .search-btn {
    padding: 3px;
    background-color: #0b3f4d;
    border: 0;
  }
  .search-btn a {
    text-decoration: underline;
  }
  .fa-search {
    color: #fffefe;
    margin-left: 10px;
    padding: 2px;
    margin-top: 1px;
  }
  .main-content h1 {
    align-self: center;
  }
  #h1-home {
    align-self: flex-start;
  }
  .main-content .hero img {
    margin: 25px 0;
    max-width: 500px;
  }
  .product-list {
    display: flex;
    gap: 20px;
    font-size: 1rem;
  }
  .product-list-item img {
    max-width: 220px;
  }
  .product-detail {
    padding: 20px;
  }
  .product-detail-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .detail-aside {
    margin-top: 18px;
  }
  .addcart {
    margin: 10px 0;
    padding: 16px 20px;
  }
  .product-detail-item img {
    max-width: 400px;
    margin: 15px 0 20px 0;
  }
  .icons-aside img {
    width: 28px;
    margin: 10px 7px 10px 0;
  }
  .checkout-list {
    display: flex;
    flex-direction: row;
  }
  .checkout-list-item {
    padding-left: 20px;
  }
  .about-list {
    display: inline-flex;
  }
  .about-item {
    margin: 0 20px;
  }
  #embedmap {
    width: 450px !important;
    height: 450px !important;
  }
  .confirm-order button {
    margin-right: 20px;
    padding: 10px 15px;
  }
  footer {
    height: 130px;
  }
  .footer-content {
    margin: 25px 25px 0 0;
    line-height: 1.1rem;
    padding: 25px;
    flex-direction: row;
    justify-content: center;
    font-size: 0.8rem;
  }
  .footer-category {
    margin: 0 15px 0 30px;
  }
  .footer-nav {
    margin: 0 20px;
  } 
}
