*,
*:before,
*:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  font-family: Montserrat, Verdana, sans-serif;
}
.site-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1fa9cc;
  color: #0b3f4d;
}
h1,
h2 {
  font-family: Merriweather, Georgia, "Times New Roman", Times, serif;
}
.site-logo {
  margin: 25px 0 40px 30px;
  max-width: 400px;
}

.header-content {
  margin: 15px 0 0 0;
}
.header-aside {
  margin: 15px 0 15px 0;
  margin-left: auto;
}
.site-branding {
  margin: 10px 0 5px 25px;
  font-style: italic;
}
.arrow-down-login{
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #fff;
  right:165px;
  top: 370px;
}
.arrow-down-register{
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #fff;
  right:100px;
  top: 370px;
}
.arrow-down-cart{
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #fff;
  right:24px;
  top: 370px;
}
.login-form{
  display: none;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: auto;
  background-color: #fffefe;
  right: 40px;
  top: 209px;
  border-radius: 5px;
  font-size: 1rem;
}
.login-form form{
  width: 240px;
  margin: 0 auto;
  color: #0b3f4d;
}
.register-form{
  display: none;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: auto;
  background-color: #fffefe;
  right: 30px;
  top: 192px;
  border-radius: 5px;
  font-size: 1rem;
}
.register-form form{
  width: 240px;
  margin: 0 auto;
  color: #0b3f4d;
}
.login-form a{
  color: #401021;
  font-size: .9rem;
  text-decoration: none;
}
.login-form a:hover{
  text-decoration: underline;
}
.cart-form {
  display: none;
  padding: 10px;
  position: absolute;
  width: 220px;
  height: auto;
  background-color: #fffefe;
  right: 22px;
  top: 243px;
  border-radius: 5px;
  font-size: 1rem;
}
.cart-form p{
  margin: 10px 0;
}
input[type="text"],
input[type="password"]{
  margin:4px 0 7px 0;
  height: 25px;
  border: 0;
  outline: none;
  box-shadow: inset 0 0 10px #eee;
  border-radius: 5px;
  font-style: oblique;
  opacity: .7;
}
input[type="submit"] {
  width: 75px;
  height: 25px;
  color: #401021;
  margin: 10px 0 15px 0;
  border-radius: 5px;
  background-color: #c8bb21;
}
input[type="submit"]:hover{
  background-color:#401021;
  color: #efefef;
}

.menu-wrap {
  height: 70px;
  background-color: #15748c;
  color: #fffefe;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 1/4;
}
.menu-wrap a:hover {
  text-decoration: underline;
}
.menu-wrap a.active {
  background-color: #fffefe;
  color: #0b3f4d;
}
.menu-icon {
  font-size: 2.4em;
  color: #ffffff;
  line-height: 50px;
  margin: 0 10px;
}
nav {
  position: absolute;
  background-color: #15748c;
  top: 330px;
  left: 0;
  width: 100%;
}
nav ul {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  transition: ease-in-out;
}
nav ul li {
  padding: 0 15px;
}
nav ul li a {
  display: inline-block;
  padding: 12px;
  /* Add your custom styles below to change appearance of links */
  color: #fffefe;
  text-decoration: none;
  letter-spacing: 0.05em;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #401021;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #401021;
}
#checkbox {
  display: none;
}
#checkbox:checked ~ nav ul {
  max-height: 250px;
  padding: 15px 0;
  transition: all 0.5s;
}
i {
  margin-right: 7px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#0b3f4d;
}
::-moz-placeholder { /* Firefox 19+ */
  color:#0b3f4d;
}
:-ms-input-placeholder { /* IE 10+ */
  color:#0b3f4d;
}
:-moz-placeholder { /* Firefox 18- */
  color:#0b3f4d;
}
input:focus::-webkit-input-placeholder{
  color: transparent!important;
}
input:focus::-moz-placeholder{
  color: transparent!important;
}
input:focus:-moz-placeholder{
  color: transparent!important;
}
.search {
  margin-left: auto;
  margin-right: 20px;
  margin-top: 10px;
}
.search ul{
  list-style-type: none;
  display: inline-flex;
  margin-top: 10px;
}
.search-field{
  padding: 2px;
  max-width:90px;
}
.search-btn{
  padding: 1px;
  background-color: #15748C;
  border: 1px solid #fffefe;
  
}
.fa-search{
  color: #fffefe;
  margin-left: 10px;
  padding: 3px;
}
.secondary-nav {
  margin-right: 10px;
  
}
.secondary-nav ul {
  list-style-type: none;
}
.secondary-nav ul li {
  display: inline-flex;
}
.secondary-nav ul li a {
  margin-right: 5px;
  text-decoration: none;
  color: #fffefe;
}
.secondary-nav ul li a:hover {
  text-decoration: underline;
  color: #401021;
}

.wrapper {
  min-height: calc(100vh-130px);
  max-width: 1160px;
  margin: 0 auto;
}
.main-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 15px 25px;
}
.main-content img {
  margin: 25px 0;
}
.footer {
  background-color: #0b3f4d;
}
.footer p {
  margin: 5px 0;
}
.footer ul {
  margin: 0;
}
.footer-content {
  margin: 25px 25px 0 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #fff;
}
.footer-category {
  margin: 20px 0 7px 0;
}
.footer-nav {
  margin: 20px 0;
}
.footer-nav ul {
  list-style-type: none;
}
.footer-nav ul li {
  display: inline-flex;
}
.footer-nav ul li a {
  color: #fff;
  margin-right: 5px;
  margin-left: auto;
  text-decoration: none;
}
.footer-nav ul li a:hover {
  text-decoration: underline;
  color: #c8bb21;
}
@media screen and (min-width: 480px) and (max-width: 799px) {
  body {
    font-size: 0.9rem;
  }
  .site-logo {
    margin: 25px 0 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
  }
  .arrow-up-login{
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #fff;
    right:150px;
    top: 310px;
  }
  .arrow-up-register{
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #fff;
    right:90px;
    top: 310px;
  }
  .arrow-up-cart{
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #fff;
    right:24px;
    top: 310px;
  }
  .login-form{
    display: none;
    padding: 10px;
    position: absolute;
    width: 220px;
    height: auto;
    background-color: #fffefe;
    right: 40px;
    top: 150px;
    border-radius: 5px;
    font-size: 1rem;
  }
  .login-form form{
    width: 240px;
    margin: 0 auto;
    color: #0b3f4d;
  }
  .register-form{
    display: none;
    padding: 10px;
    position: absolute;
    width: 220px;
    height: auto;
    background-color: #fffefe;
    right: 30px;
    top: 132px;
    border-radius: 5px;
    font-size: 1rem;
  }
  .register-form form{
    width: 240px;
    margin: 0 auto;
    color: #0b3f4d;
  }
  input[type="text"],
  input[type="password"]{
    margin:4px 0 7px 0;
    height: 25px;
    border: 0;
    outline: none;
    box-shadow: inset 0 0 10px #eee;
    border-radius: 5px;
    font-style: oblique;
    opacity: .7;
  }
  input[type="submit"] {
    width: 75px;
    height: 25px;
    color: #401021;
    margin: 10px 0 15px 0;
    border-radius: 5px;
    background-color: #c8bb21;
  }
  input[type="submit"]:hover{
    background-color:#401021;
    color: #efefef;
  }
  .login-form a{
    color: #401021;
    font-size: .9rem;
    text-decoration: none;
  }
  .login-form a:hover{
    text-decoration: underline;
  }
  .cart-form {
    display: none;
    padding: 10px;
    position: absolute;
    width: 220px;
    height: auto;
    background-color: #fffefe;
    right: 22px;
    top: 183px;
    border-radius: 5px;
    font-size: 1rem;
  }
  nav {
    top: 400px;
  }
  .main-content img {
    width: 400px;
    margin: 25px 0 25px;
  }
}
@media screen and (min-width: 600px) and (max-width: 799px) {
  nav {
    top: 360px;
  }
  .arrow-up-login{
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #fff;
    right:150px;
    top: 270px;
  }
  .arrow-up-register{
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #fff;
    right:90px;
    top: 270px;
  }
  .arrow-up-cart{
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 15px solid #fff;
    right:24px;
    top: 270px;
  }
  .login-form{
    display: none;
    padding: 10px;
    position: absolute;
    width: 220px;
    height: auto;
    background-color: #fffefe;
    right: 40px;
    top: 109px;
    border-radius: 5px;
    font-size: 1rem;
  }
  .login-form form{
    width: 240px;
    margin: 0 auto;
    color: #0b3f4d;
  }
  .register-form{
    display: none;
    padding: 10px;
    position: absolute;
    width: 220px;
    height: auto;
    background-color: #fffefe;
    right: 30px;
    top: 92px;
    border-radius: 5px;
    font-size: 1rem;
  }
  .register-form form{
    width: 240px;
    margin: 0 auto;
    color: #0b3f4d;
  }
  .cart-form {
    display: none;
    padding: 10px;
    position: absolute;
    width: 220px;
    height: auto;
    background-color: #fffefe;
    right: 22px;
    top: 140px;
    border-radius: 5px;
    font-size: 1rem;
  }
  input[type="text"],
  input[type="password"]{
    margin:4px 0 7px 0;
    height: 25px;
    border: 0;
    outline: none;
    box-shadow: inset 0 0 10px #eee;
    border-radius: 5px;
    font-style: oblique;
    opacity: .7;
  }
  input[type="submit"] {
    width: 75px;
    height: 25px;
    color: #401021;
    margin: 10px 0 15px 0;
    border-radius: 5px;
    background-color: #c8bb21;
  }
  input[type="submit"]:hover{
    background-color:#401021;
    color: #efefef;
  }
  .login-form a{
    color: #401021;
    font-size: .9rem;
    text-decoration: none;
  }
  .login-form a:hover{
    text-decoration: underline;
  }
}
@media screen and (min-width: 800px) {
  .site-header {
    display: grid;
    grid-template-columns: 450px repeat(2, 1fr);
    justify-content: space-around;
    background-color: #1fa9cc;
    color: #0b3f4d;
  }
  .arrow-up-login{
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #fff;
    right:170px;
    top: 35px;
  }
  .arrow-up-register{
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #fff;
    right:110px;
    top: 35px;
  }
  .arrow-up-cart{
    display: none;
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #fff;
    right:40px;
    top: 35px;
  }
  .login-form{
    display: none;
    padding: 10px;
    position: absolute;
    width: 220px;
    height: auto;
    background-color: #fffefe;
    right: 40px;
    top: 49px;
    border-radius: 5px;
    border-bottom: 2px solid #0b3f4d;
    font-size: 1rem;
  }
  .login-form form{
    width: 240px;
    margin: 0 auto;
    color: #0b3f4d;
  }
  .register-form{
    display: none;
    padding: 10px;
    position: absolute;
    width: 220px;
    height: auto;
    background-color: #fffefe;
    right: 30px;
    top: 49px;
    border-radius: 5px;
    border-bottom: 2px solid #0b3f4d;
    font-size: 1rem;
  }
  .register-form form{
    width: 240px;
    margin: 0 auto;
    color: #0b3f4d;
  }
  .cart-form {
    display: none;
    padding: 10px;
    position: absolute;
    width: 220px;
    height: auto;
    background-color: #fffefe;
    right: 20px;
    top: 49px;
    border-radius: 5px;
    border-bottom: 2px solid #0b3f4d;
    font-size: 1rem;
  }
  .cart-form p{
    margin: 10px 0;
  }
  input[type="text"],
  input[type="password"]{
    margin:4px 0 7px 0;
    height: 25px;
    border: 0;
    outline: none;
    box-shadow: inset 0 0 10px #eee;
    border-radius: 5px;
    font-style: oblique;
    opacity: .7;
  }
  input[type="submit"] {
    width: 75px;
    height: 25px;
    color: #401021;
    margin: 10px 0 15px 0;
    border-radius: 5px;
    background-color: #c8bb21;
  }
  input[type="submit"]:hover{
    background-color:#401021;
    color: #efefef;
  }
  .login-form a{
    color: #401021;
    font-size: .9rem;
    text-decoration: none;
  }
  .login-form a:hover{
    text-decoration: underline;
  }
  
  .secondary-nav {
    margin-right: 20px;
  }
  .menu-icon {
    display: none;
  }
  .menu.wrap {
    display: flex;
    grid-template-columns: 450px repeat(2, 1fr);
   
  }
  nav {
    position: relative;
    top: -5px;
    background-color: transparent;
  }
  nav ul {
    max-height: 80px;
    padding: 15px 0;
    text-align: center;
  }
  nav ul li {
    display: inline-flex;
    padding-left: 10px;
  }
  .search {
    margin-left: auto;
    margin-right: 20px;
    margin-top: 8px;
  }
  .search-field{
    max-width:120px;
    font-size: 1.1rem;
  }
  .search-btn{
    padding: 3px;
    background-color: #15748C;
    border: 2px solid #fffefe;
    
  }
  .fa-search{
    color: #fffefe;
    margin-left: 10px;
    padding: 3px;
  }  
  
  footer {
    height: 130px;
  }
  .footer-content {
    margin: 25px 25px 0 0;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.9rem;
    color: #fff;
  }
  .footer-category {
    margin: 0 25px;
  }
  .footer-nav {
    margin: 0 20px;
  }
}
